.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background: var(--color-white);
}

.nav {
  padding: 10px 10vw;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 60px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.search {
  width: 500px;
  display: flex;
}

.search-box {
  width: 80%;
  height: 40px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid var(--color-principal1);
  background: none;
  color: var(--color-principal1);
}

.search-btn {
  width: 20%;
  height: 40px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: var(--color-principal2);
  color: var(--color-principal1);
  font-size: 1em;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  line-height: 1em;
}

.search-box::placeholder {
  color: var(--color-principal1);
}

/* é o tamanho do icone carrinho e usuário, o tamanho deles é decidido pelo font-size */
a i {
  font-size: 2.5em;
}

.nav-items a {
  margin-left: 2em;
}

.links-container {
  width: 100%;
  display: flex;
  padding: 10px 10vw;
  justify-content: center;
  border-top: 1px solid var(--color-principal1);
}

.link {
  text-transform: uppercase;
  padding: 0 10px;
  margin: 0 5px;
  color: var(--color-principal1);
  opacity: 0.5;
  transition: var(--transition);
}

.link:hover {
  opacity: 1;
}
